=begin
#PowerDNS Authoritative HTTP API

#No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)

OpenAPI spec version: 0.0.13

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.1

=end

require 'uri'

module PowerDNS
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search the data inside PowerDNS
    # Search the data inside PowerDNS for search_term and return at most max_results. This includes zones, records and comments. The * character can be used in search_term as a wildcard character and the ? character can be used as a wildcard for a single character.
    # @param server_id The id of the server to retrieve
    # @param q The string to search for
    # @param max Maximum number of entries to return
    # @param [Hash] opts the optional parameters
    # @return [SearchResults]
    def search_data(server_id, q, max, opts = {})
      data, _status_code, _headers = search_data_with_http_info(server_id, q, max, opts)
      data
    end

    # Search the data inside PowerDNS
    # Search the data inside PowerDNS for search_term and return at most max_results. This includes zones, records and comments. The * character can be used in search_term as a wildcard character and the ? character can be used as a wildcard for a single character.
    # @param server_id The id of the server to retrieve
    # @param q The string to search for
    # @param max Maximum number of entries to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(SearchResults, Fixnum, Hash)>] SearchResults data, response status code and response headers
    def search_data_with_http_info(server_id, q, max, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_data ...'
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling SearchApi.search_data"
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling SearchApi.search_data"
      end
      # verify the required parameter 'max' is set
      if @api_client.config.client_side_validation && max.nil?
        fail ArgumentError, "Missing the required parameter 'max' when calling SearchApi.search_data"
      end
      # resource path
      local_var_path = '/servers/{server_id}/search-data'.sub('{' + 'server_id' + '}', server_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'q'] = q
      query_params[:'max'] = max

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SearchResults')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Query the log, filtered by search_term.
    # @param server_id The id of the server to retrieve
    # @param q The string to search for
    # @param [Hash] opts the optional parameters
    # @return [Array<String>]
    def search_log(server_id, q, opts = {})
      data, _status_code, _headers = search_log_with_http_info(server_id, q, opts)
      data
    end

    # Query the log, filtered by search_term.
    # @param server_id The id of the server to retrieve
    # @param q The string to search for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<String>, Fixnum, Hash)>] Array<String> data, response status code and response headers
    def search_log_with_http_info(server_id, q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_log ...'
      end
      # verify the required parameter 'server_id' is set
      if @api_client.config.client_side_validation && server_id.nil?
        fail ArgumentError, "Missing the required parameter 'server_id' when calling SearchApi.search_log"
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling SearchApi.search_log"
      end
      # resource path
      local_var_path = '/servers/{server_id}/search-log'.sub('{' + 'server_id' + '}', server_id.to_s)

      # query parameters
      query_params = {}
      query_params[:'q'] = q

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['APIKeyHeader']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<String>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_log\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
